<h1><%= @user.name %></h1>





<div class="row">
<div class="col-md-6">

<p>

  <%= image_tag( @user.avatar_url.nil? ?  "foto.png" : @user.avatar_url, :width => 170, :height => 170)  %>

  <strong> Foto de Perfil:</strong>
</p>
<h2>Tus cursos</h2>
</div>
<div class="col-md-6">
<ol>
<% @user.courses.each do |c| %>
	<li><%= c.name %></li>
<% end %>

</ol>
</div>



<blockquote>
  <p>Canjea tus puntos por tutorias gratis</p>
  
</blockquote>


